body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:69px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u0 {
  position:absolute;
  left:105px;
  top:46px;
  width:331px;
  height:69px;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:311px;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:377px;
}
#u2 {
  position:absolute;
  left:105px;
  top:155px;
  width:283px;
  height:377px;
}
#u3 {
  position:absolute;
  left:2px;
  top:180px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:151px;
  top:471px;
  width:57px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:236px;
  top:471px;
  width:149px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:136px;
  top:471px;
  width:263px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:207px;
}
#u10 {
  position:absolute;
  left:500px;
  top:147px;
  width:352px;
  height:207px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:745px;
}
#u12 {
  position:absolute;
  left:871px;
  top:87px;
  width:727px;
  height:745px;
}
#u13 {
  position:absolute;
  left:2px;
  top:364px;
  width:723px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:184px;
}
#u14 {
  position:absolute;
  left:1656px;
  top:73px;
  width:705px;
  height:184px;
}
#u15 {
  position:absolute;
  left:2px;
  top:84px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:745px;
}
#u16 {
  position:absolute;
  left:19px;
  top:965px;
  width:892px;
  height:745px;
}
#u17 {
  position:absolute;
  left:2px;
  top:364px;
  width:888px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:528px;
  top:1211px;
  width:123px;
  height:84px;
}
#u19 {
  position:absolute;
  left:2px;
  top:34px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:536px;
  top:1623px;
  width:123px;
  height:84px;
}
#u21 {
  position:absolute;
  left:2px;
  top:34px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:222px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22 {
  position:absolute;
  left:988px;
  top:1211px;
  width:337px;
  height:222px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23 {
  position:absolute;
  left:10px;
  top:10px;
  width:317px;
  word-wrap:break-word;
}
