body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2843px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:476px;
}
#u30 {
  position:absolute;
  left:1612px;
  top:39px;
  width:1231px;
  height:476px;
}
#u31 {
  position:absolute;
  left:2px;
  top:230px;
  width:1227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u32 {
  position:absolute;
  left:2240px;
  top:127px;
  width:55px;
  height:25px;
  font-size:18px;
  color:#FF0000;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u34 {
  position:absolute;
  left:1941px;
  top:171px;
  width:204px;
  height:25px;
  font-size:18px;
  color:#FF0000;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u36 {
  position:absolute;
  left:1941px;
  top:245px;
  width:390px;
  height:25px;
  font-size:18px;
  color:#FF0000;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  white-space:nowrap;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:75px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38 {
  position:absolute;
  left:1665px;
  top:525px;
  width:508px;
  height:75px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u39 {
  position:absolute;
  left:10px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1399px;
  height:753px;
}
#u40 {
  position:absolute;
  left:29px;
  top:39px;
  width:1399px;
  height:753px;
}
#u41 {
  position:absolute;
  left:2px;
  top:368px;
  width:1395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:316px;
  top:279px;
  width:67px;
  height:32px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:220px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u44 {
  position:absolute;
  left:29px;
  top:980px;
  width:406px;
  height:220px;
}
#u45 {
  position:absolute;
  left:10px;
  top:10px;
  width:386px;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:559px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  position:absolute;
  left:507px;
  top:980px;
  width:548px;
  height:559px;
}
#u47 {
  position:absolute;
  left:2px;
  top:272px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48 {
  position:absolute;
  left:549px;
  top:1012px;
  width:235px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:549px;
  top:1092px;
  width:468px;
  height:66px;
  font-size:16px;
}
#u51 {
  position:absolute;
  left:16px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u50_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:2px;
}
#u52 {
  position:absolute;
  left:531px;
  top:1057px;
  width:504px;
  height:1px;
}
#u53 {
  position:absolute;
  left:2px;
  top:-8px;
  width:500px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:2px;
}
#u54 {
  position:absolute;
  left:549px;
  top:1176px;
  width:468px;
  height:1px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-8px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:549px;
  top:1201px;
  width:468px;
  height:66px;
  font-size:16px;
}
#u57 {
  position:absolute;
  left:16px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u56_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:2px;
}
#u58 {
  position:absolute;
  left:549px;
  top:1285px;
  width:468px;
  height:1px;
}
#u59 {
  position:absolute;
  left:2px;
  top:-8px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:549px;
  top:1309px;
  width:468px;
  height:66px;
  font-size:16px;
}
#u61 {
  position:absolute;
  left:16px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u60_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  position:absolute;
  left:946px;
  top:1468px;
  width:71px;
  height:36px;
}
#u63 {
  position:absolute;
  left:2px;
  top:9px;
  width:67px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:2px;
}
#u64 {
  position:absolute;
  left:531px;
  top:1402px;
  width:504px;
  height:1px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-8px;
  width:500px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  position:absolute;
  left:865px;
  top:1468px;
  width:71px;
  height:36px;
}
#u67 {
  position:absolute;
  left:2px;
  top:9px;
  width:67px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u68 {
  position:absolute;
  left:1008px;
  top:1012px;
  width:17px;
  height:17px;
}
#u69 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u70 {
  position:absolute;
  left:1941px;
  top:211px;
  width:171px;
  height:21px;
  font-size:18px;
  color:#FF0000;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u72_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:168px;
  height:21px;
}
#u72p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:160px;
  height:1px;
}
#u72p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:170px;
  height:21px;
}
#u72p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u72p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u72p002 {
  position:absolute;
  left:144px;
  top:-11px;
  width:22px;
  height:22px;
}
#u72p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u72.compound {
  width:0px;
  height:0px;
}
#u72 {
  position:absolute;
  left:1438px;
  top:279px;
  width:158px;
  height:1px;
}
#u73 {
  position:absolute;
  left:2px;
  top:-8px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:164px;
}
#u74p000 {
  position:absolute;
  left:-77px;
  top:76px;
  width:155px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u74p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:175px;
  height:12px;
}
#u74p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u74p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u74p002 {
  position:absolute;
  left:-11px;
  top:140px;
  width:22px;
  height:22px;
}
#u74p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u74.compound {
  width:0px;
  height:0px;
}
#u74 {
  position:absolute;
  left:736px;
  top:802px;
  width:1px;
  height:154px;
}
#u75 {
  position:absolute;
  left:2px;
  top:69px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:785px;
  top:875px;
  width:123px;
  height:20px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  position:absolute;
  left:1480px;
  top:235px;
  width:85px;
  height:20px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
